	<footer class="site-footer">
        <div class="l-container">
            <div class="site-footer-sections">
                
                <div class="site-footer-about">
                    <h2 class="footer-title">About</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, corrupti aspernatur rem facilis beatae quis quos vero hic suscipit vel? Dolore, architecto, corporis cum aut inventore quam officiis perspiciatis placeat.</p>
                </div>

                <div class="site-footer-sublinks">
                    <h2 class="footer-title">Navigation</h2>
                    <nav>
                        <ul class="nav nav-stacked sub-nav">
                            <li><a href="">Home</a></li>
                            <li><a href="">Submit</a></li>
                            <li><a href="">RSS</a></li>
                            <li><a href="">twitter</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="site-footer-contact">
                    <h2 class="footer-title">Contact</h2>
                    <ul class="nav nav-stacked sub-nav">
                        <li><a href="">twitter</a></li>
                        <li><a href="">submit</a></li>
                    </ul>
                </div>
            </div>   
        </div>
    </footer>

    </body>
</html>