    

    </head>
<body>

	<header class="site-header">
		<div class="l-container">
			
            <div class="l-header-container">
            	<div class="l-logo">
            		<h1>{{title}}</h1>
            	</div>
            	
            	<nav class="l-navigation">
            	    <ul class="nav main-navigation">
            	        {{#items}}
            						    <li><a href="{{url}}">{{{title}}}</a></li>
            							{{/items}}
            	    </ul>
            	</nav>
            </div>
		    
		</div>
	</header>