    

    </head>
<body>

	<header class="site-header">
        <div class="l-container">
            <h1>Typography in London</h1>
            
            <!-- <nav> -->
                <ul class="nav main-navigation">
                    <li><a href="">Latest</a></li>
                    <li><a href="">Submit</a></li>
                </ul>
            <!-- </nav> -->

        </div>
    </header>

	<div class="l-container">

